* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sy_carosello{
    width: 1000px;
    height: 400px;
}

.sy_left_image{
    width: 80%;
    height: 100%;
    border: 1px solid black;
}
.sy_right_image{
    width: 20%;
    height: 100%;
    position: relative;
    border: 1px solid black;
}
.sy_thumb{
    border: 1px solid black;
    height: 20%;
    width: 100%;
}
.sy_icons{
    width: 20px;
    color: black;
    
}